.rank{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;

}

.rank h3{
    font-size: 32px;
    border-bottom: 4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}