.section1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 64px;
  background-color: #e7e9dc;
  flex-wrap:  wrap;
  padding: 24px;
}

.section1 img {
  max-width: 100%;
  width: 400px;
}

.p1 .p2 {
  width: 50%;
  height: 100%;
}

.p1 li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
  padding-bottom: 8px;
  color: black;
  font-weight: 500;
}

.p1 li:hover {
  color: #bf930f
}

.section1 h1 {
  color: black;
  font-size: 2.2rem;
  font-family: sans-serif;
  font-weight: 800;
}

@media(max-width:768px){
  .section1 img {
    max-width: 100%;
    width: 300px;
  }
  .section1 h1{
    font-size: 1.5rem;
  }
  .section1{
    gap: 24px;
    width: fit-content;
  }
  .p1{
    display: flex;
    flex-wrap: wrap;
  }
 
}